.nav-link {
  color: white !important;
  transition: all 0.3s ease-out 0s;
  font-size: 1.5rem;
  font-weight: 400;
}
.navbar-brand {
  color: $primary-color-purple !important;
  font-size: 2rem !important;
  font-weight: 600;
}
.navbar-nav {
  a {
    &::after {
      content: "";
      border-radius: 16px;
      width: 0%;
      background-color: $primary-color-purple;
      display: block;
      height: 6px;
      transition: all 0.3s ease-out 0s;
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}
